/*------------------------------------*\
    WISH-LIST.CSS
\*------------------------------------*/
/**
 * VARS................
 * MAIN................Base stuff
 * TYPE................Typographical stuff
 * BUTTONS.............
 * ITEMS...............
 * MISC................
 */





/*------------------------------------*\
    $VARS
\*------------------------------------*/
$font:                 "Mountains of Christmas";
$color:                #c00;





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font-family:sans-serif;
}
body{
    max-width:720px;
    margin:0 auto;
    padding:$base-spacing-unit +px;
}





/*------------------------------------*\
    $TYPE
\*------------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family:$font;
    color:$color;
}





/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn-row{
    margin-bottom:0;
    text-align:right;
}
.btn--go{
    @extend .go;
    color:#fff;
    background-color:$color;
    padding:$half-spacing-unit +px;
    @include vendor(border-radius, $brand-round +px);
}





/*------------------------------------*\
    $ITEMS
\*------------------------------------*/
.items,
    .items > li{
        border-style:dotted;
    }
    .items__image{
        @extend .sass-margin-bottom;
        margin-right:auto;
        margin-left: auto;
        display:block;
    }





/*------------------------------------*\
    $MISC
\*------------------------------------*/
::selection      { color:#fff; background:$color; }
::-moz-selection { color:#fff; background:$color; }
